@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "Allerta";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Allerta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LuckiestGuy";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mclaren";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/McLaren-Regular.ttf") format("truetype");
}

html {
  font-family: "Allerta", sans-serif;
}
