---
import Image from "astro/components/Image.astro";
import tahuIsiLogo from "@assets/img/tahu_isi_logo.png";
import HoverableLink from "./HoverableLink.tsx";
import footerLinks from "@data/footer-links.json";

type FooterLinks = {
  title: string;
  href: string;
}

const links: FooterLinks[] = footerLinks;
---

<footer class="text-white w-full">
  <div class="h-5 bg-[#FFC4C4]" />
  <div class="h-fit bg-[#EE6983] text-[1vw]">
    <div class="flex justify-center py-5">
      <Image src={tahuIsiLogo} alt="Tahu Isi Logo" height={100} />
    </div>
    <div class="flex w-full h-full space-x-5 justify-center-safe align-middle">
      {
        links.map((item, index) => (
          <>
            <HoverableLink href={item.href} hoverBackgroundColor="white">
              {item.title}
            </HoverableLink>
            {index < links.length - 1 && <span>|</span>}
          </>
        ))
      }
    </div>
    <div class="flex justify-center py-5 text-[0.6vw]">
      © Tahu Isi Project is a derivative work of Touhou Project
    </div>
    <div class="flex justify-center pb-5 text-[0.5vw]">
      Website made by Ryhun, Baumkuchen, UnknownRori, Akarui, Meeno, and Ars
    </div>
  </div>
</footer>