---
import "@features/index/styles/about_section.css";
import { IconBrandDiscordFilled, IconBrandFacebookFilled, IconBrandInstagram, IconBrandTwitterFilled, IconBrandWhatsapp, IconBrandWhatsappFilled } from "@tabler/icons-react";
import aboutTitle from "../assets/about_title.svg";
import aboutBg from "../assets/about_bg.png";

---
<section class="relative bg-cover h-[80vh] min-h-211" style={"background-image: url(" + aboutBg.src + ")"}>
  <div class="h-full mx-auto max-w-362 px-20 py-40">
    <div class="bg-white shadow-xl w-full h-full rounded-xl flex">
      <img src={aboutTitle.src} class="absolute w-full h-full" style="left: -274px; top: 0" />
      <div class="outline-stroke w-2/5 z-1 flex items-center text-center justify-center">
        <div>
          <div class="font-[LuckiestGuy] text-7xl">
            TAHU ISI
          </div>
          <div class="font-[Mclaren] text-right text-5xl">
            PROJECT
          </div>
        </div>
      </div>
      <div class="w-3/5 z-1 pr-15 flex items-center relative text-2xl">
        <div class="leading-15 outline-stroke">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Curabitur metus nisi, efficitur eget feugiat in, semper et 
metus. Mauris lobortis sit amet neque at aliquet. Donec
id leo efficitur, tincidunt metus et, sollicitudin turpis.
          <div class="absolute text-[#EE6983] flex mt-4">
            <a class="hover:text-white transition rounded-lg hover:bg-[#EE6983] mx-2 p-1 cursor-pointer">
              <IconBrandDiscordFilled className="w-13" size={50} />
            </a>
            <a class="hover:text-white transition rounded-lg hover:bg-[#EE6983] mx-2 p-1 cursor-pointer">
              <IconBrandInstagram className="w-13" size={50} />
            </a>
            <a class="hover:text-white transition rounded-lg hover:bg-[#EE6983] mx-2 p-1 cursor-pointer">
              <IconBrandFacebookFilled className="w-13" style={{ marginLeft: -2, paddingRight: 2}} size={50} />
            </a>
            <a class="hover:text-white transition rounded-lg hover:bg-[#EE6983] mx-2 p-1 cursor-pointer">
              <IconBrandWhatsapp className="w-13" size={50} />
            </a>
            <a class="hover:text-white transition rounded-lg hover:bg-[#EE6983] mx-2 p-1 cursor-pointer">
              <IconBrandTwitterFilled className="w-13" size={50} />
            </a>
          </div>
          <div class="w-1/2 absolute right-25 bottom-10">
            <div class="flex w-full mt-4 h-3">
              <div class="bg-[#FCF5EE] flex-6" />
              <div class="bg-[#FFC4C4] flex-2" />
              <div class="bg-[#EE6983] flex-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
