---
import communityLogo from "/public/img/tahu_logo.png";
import heroBanner from "../assets/hero_banner.jpg";
import HoverableLink from "@components/HoverableLink";
import Image from "astro/components/Image.astro";

const sideMenuList = [
  {
    title: "New Event",
    link: "#",
  },
  {
    title: "New Challenge",
    link: "#",
  },
];
---

<section class="hero-section w-full h-screen relative overflow-hidden">
  <Image
    src={heroBanner}
    alt="Hero banner"
    width={1920}
    height={1080}
    class="relative min-h-screen min-w-screen"
  />
  <img class="absolute top-0" src={communityLogo.src} alt="Community Logo" />
  <div class="absolute top-0 w-full h-full">
    <aside class="top-1/2 absolute transform-[translateY(-50%)]">
      <ul class="flex flex-col gap-6">
        {
          sideMenuList.map((item) => (
            <li
              class="py-5 font-[Allerta] text-[40px] justify-end-safe text-right bg-white after:bg-[#EE6983] after:w-4 relative 
                inline-flex items-center px-6 font-semibold text-black after:content-[''] after:absolute after:top-0 after:right-0 after:h-full"
            >
              <HoverableLink href={item.link} textColor="black">
                {item.title}
              </HoverableLink>
            </li>
          ))
        }
      </ul>
    </aside>

    <h1
      class="text-[4vw] pb-[4%] ml-[4%] leading-none bottom-0 max-w-[50vw] absolute
        font-[LuckiestGuy] text-white text-shadow-[0_0_50px_rgba(0,0,0,0.8)] inline-block"
    >
      CIPTAKAN DUNIAMU DI GENSOKYO
    </h1>
  </div>
</section>
