---
import SliderImage from "../assets/tahu_horizontal.png";
import { Image } from "astro:assets";
---

<div class="w-full h-60 overflow-hidden relative">
  <Image
    src={SliderImage}
    alt="Tahu Isi Slider"
    height={300}
    class="absolute tahu-isi-scroll-1 w-auto"
    format="webp"
    quality="low"
    decoding="async"
    loading="lazy"
  />
  <Image
    src={SliderImage}
    alt="Tahu Isi Slider"
    height={300}
    class="absolute tahu-isi-scroll-2 w-auto"
    format="webp"
    quality="low"
    decoding="async"
    loading="lazy"
  />
</div>

<style>
  :root {
    --horizontal-infinite-loop: 20s;
  }

  @layer components {
    .tahu-isi-scroll-1 {
      animation: var(--horizontal-infinite-loop) linear 0s infinite
        tahuIsiScrollAnimation1;
    }

    .tahu-isi-scroll-2 {
      animation: var(--horizontal-infinite-loop) linear 0s infinite
        tahuIsiScrollAnimation2;
    }

    @keyframes tahuIsiScrollAnimation1 {
      from {
        left: -100vw;
      }

      to {
        left: 0;
      }
    }

    @keyframes tahuIsiScrollAnimation2 {
      from {
        left: 0vw;
      }

      to {
        left: 100vw;
      }
    }
  }
</style>
