---
import Navbar from "@components/Navbar.tsx";
import Footer from "@components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import items from "@data/navbar-items.json";
import "@styles/global.css";

export interface Props {
  title: string;
}

const { title = "Page" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Tahu Isi</title>
    <ClientRouter />
  </head>

  <body>
    <Navbar items={items} client:load transition:persist />
    <main>
      <slot />
    </main>
    <Footer transition:persist />
  </body>
</html>
